In [1]:
from IPython.display import display, HTML
display(HTML ("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶엇 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2.....
```
# 1절. 함수의 정의 및 사용
## 1.1  함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2,  'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [6]:
print('Hello') # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
#print('Hello')
del print
print('Hello')

Hello
Hello

In [7]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [9]:
my_message = 5
my_msg(2, 'Hello')
my_message(2, 'Hello')

0 Hello
1 Hello

TypeError: 'int' object is not callable

In [10]:
del my_message # 변수 및 함수 제거하여도 
my_message(2,'Hello') # 사용자 정의함수, 라이브러리 함수는 del 하여도 사용불가

NameError: name 'my_message' is not defined

In [11]:
# Python에서는 함수 중복 정의 불가(오버로딩 불가)
def my_hello(): _
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello, Python', end = '\t')
        print('Hello, World')

In [12]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [13]:
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [16]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
import ch05 # ch05모듈이 해석되서 메모리 로드

In [2]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [3]:
from ch05 import my_hello # ch05모듈안의 my_hell만 메모리 로드
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [4]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [6]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [7]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
        n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언하 변수 : 지역변수(반:전역변수)
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행

In [8]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [9]:
fibonacci(10)

0 1 1 2 3 5 8

In [10]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [11]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [12]:
a, b # 지역변수는 함수내에서만 사용가능

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [17]:
global_var = 100
def func1():
    print('함수안 :', global_var)
func1()
print("함수밖 :", global_var)

함수안 : 100
함수밖 : 100

In [19]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print('함수안:',local_var)
func2()

함수안: 200

In [20]:
#print('함수밖에서 지역변수 :', local_var) #에러

In [21]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라
# 변수의 범위가 정해짐(지역vs전역)
g_var = 100 # 전역변수
def func3():
    g_var = 200
    print('g_var :',g_var) #지역변수 (함수내에서 할당)
func3()
print('g_var :', g_var)

g_var : 200
g_var : 100

In [22]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    print('g_var :',g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [23]:
#렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var # 함수내에서의 g_var는 전역변수를 쓰겠다
    print('g_var :',g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('g_var :', g_var)

g_var : 100
g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수 스칼라변수(문자, 숫자, 논리형)

In [24]:
foo = 'a' # 전역변수
id(foo)

1651452700464

In [25]:
def func1(f): # 매개변수는 지역변수
    print('before', f, '의 주소는', id(f))
    f = f*3
    print('after', f, '의 주소는', id(f))
func1(foo)

before a 의 주소는 1651452700464
after aaa 의 주소는 1651535805808

In [26]:
print('foo =', foo, '의 주소는', id(foo))

foo = a 의 주소는 1651452700464

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [27]:
L = [1, 2, 3, 4, 5]
id(L)

1651531323072

In [28]:
def func2(f): # 매개변수는 지역변수
    print('before:', f, '의 주소는', id(L))
    f.append(6)
    print('after:', f, '의 주소는', id(L))
func2(L)

before: [1, 2, 3, 4, 5] 의 주소는 1651531323072
after: [1, 2, 3, 4, 5, 6] 의 주소는 1651531323072

In [29]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 1651531323072

# 2절. 함수의 실행 결과를 반환하는 return

In [31]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
        n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언하 변수 : 지역변수(반:전역변수)
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [33]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [34]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

### 여러개 값 return
- 여러개 값을 갖는 튜플로 return

In [35]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b,a # return (b,a)

In [36]:
a = swap(1,2)
type(a)

tuple

In [37]:
print(a)

(2, 1)

In [38]:
x, y = swap(1,2)

In [39]:
print(x,y)

2 1

In [43]:
x=5; y=10
print('함수 실행 전 x,y =', x,y)
x, y = swap(x,y)
print('함수 실행 후 x,y =', x, y)

함수 실행 전 x,y = 5 10
함수 실행 후 x,y = 10 5

# 3절 함수의 매개변수 ★
## 3.1 기본 값을 갖는 매개변수

In [44]:
def make_url(ip, port=80): #순서인수가 앞에 있어야함 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [50]:
print(make_url("localhost"))
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))
#print(make_url(port=9090)) ip는 기본값을 가지지 않음 에러

http://localhost:80
http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [51]:
#def make_url(port=80, ip): #순서인수가 앞에 있어야함 > 기본값을 갖는 매개변수
#    return "http://{}:{}".format(ip, port) 에러

## 3.2 기본 변수를 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [52]:
i = 80
# 기본 변수가 스칼라 변수일 때 : 함수가 정의 되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [53]:
i = 90
make_url("localhost")

'http://localhost:80'

In [55]:
list_ = []
# 기본 변수가 리스트, 셋, 딕셔너리, 객체일 때: 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L = list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [57]:
print(func3(3))

[10, 20, 3]

In [58]:
print("list_=", list_)

list_= [10, 20, 3]

In [60]:
# 실행할 때마다 L을 공유하는게 싫으면 
def func3(a, L= None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))
print(func3(10))

[10]
[10]
[10]
[1, 2, 3, 10]
[10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [61]:
def func3(a, L= None): #순서 거꾸로시 에러
    if L is None:
        L = []
    L.append(a)
    return L

In [62]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [67]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
# args 앞에 * : args가 튜플로 전달받는다
def add(*args):# 매개변수 앞에 *를 붙여 정의
    print('args=', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum = sum + num # sum += num
    return sum

In [83]:
print(add(10, 20))
print(add(10, 20 ,30))
print(add(10,20,30,40))

args= (10, 20)
30
args= (10, 20, 30)
60
args= (10, 20, 30, 40)
100

In [85]:
# 튜플 매개변수와 일반 매개변수가 같이 있을때
def concat(*subject, sep):
    return sep.join(subject)

In [89]:
concat('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL','-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [90]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL',sep ='-')

In [95]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*args, sep = '-'): # 튜플매개변수 > 키워드인수
    return sep.join(subject)

In [97]:
concat('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [100]:
#해결책3 : sep을 순서인수로 앞으로 -강추
def concat(sep, *args):
    return sep.join(args)

In [101]:
concat('-', 'Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [69]:
def concat(*args, sep):
    return sep.join(args)

In [82]:
print(concat("earth", "mars", "venus", sep = "/"))

earth/mars/venus

In [74]:
def concat(sep, *args):
    return sep.join(args)

In [75]:
print(concat("/","earth", "mars", "venus"))

earth/mars/venus

In [76]:
def concat(sep = "/", *args):
    return sep.join(args)

In [77]:
print(concat("earth", "mars", "venus"))

marsearthvenus

In [78]:
def concat(*args,sep = "/"):
    return sep.join(args)

In [102]:
concat("earth", "mars","venus")

'marsearthvenus'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [108]:
def func5(**args): # args : 딕셔너리로 전달받음
    print(args)

In [113]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000', address = '서울 관악구', width=300, color='red')

{'name': '홍길동', 'age': 30, 'tel': '010-0000-0000', 'address': '서울 관악구', 'width': 300, 'color': 'red'}

In [125]:
def func5(**args): # args : 딕셔너리로 전달받음
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 20))
    print('전화 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 종로'))

In [127]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000',address = '서울 관악구',  width=300, color='red')

이름 : 홍길동
나이 : 30
전화 : 010-0000-0000
주소 : 서울 관악구

In [128]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print("{}:{}".format(key,value))

In [130]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000', address = '서울 관악구', width=300, color='red')

{'name': '홍길동', 'age': 30, 'tel': '010-0000-0000', 'address': '서울 관악구', 'width': 300, 'color': 'red'}
<class 'dict'>
name:홍길동
age:30
tel:010-0000-0000
address:서울 관악구
width:300
color:red

In [145]:
def func5(**args):
    print(args)
    print(type(args))
    if not 'addrss' in args: # args에 address 키가 없으면 if문 True
       # args['address'] = '서울시 관악구'
       # args.update({'address' : '서울시 관악구'})
        args.update(address = '서울시 관악구')
    for key, value in args.items():
        print("{}:{}".format(key,value))

In [146]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000')

{'name': '홍길동', 'age': 30, 'tel': '010-0000-0000'}
<class 'dict'>
name:홍길동
age:30
tel:010-0000-0000
address:서울시 관악구

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [147]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [149]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '신림' )

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d =  {'name': '홍길동', 'age': 30, 'address': '신림'}

In [155]:
# 순서인수 > 튜플인수> 키워드인수 > 딕셔너리인수
def func7(a, b, c, *d, e=10,**f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값) = ', e)
    print('딕셔너리인수 = ', f)

In [161]:
func7(10, 20, 30)
(func7(10, 20, 30, 4, 5, name = '홍길동'))
(func7(10, 20, 30, 4, 5, e=100, shape = 'rect', width = 20, height = 30))

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값) =  10
딕셔너리인수 =  {}
순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (4, 5)
키워드인수(기본값) =  10
딕셔너리인수 =  {'name': '홍길동'}
순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (4, 5)
키워드인수(기본값) =  100
딕셔너리인수 =  {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 *나 ** 붙임(튜플매개변수)

In [162]:
#패킹
def add(*args):
    sum = 0
    for num in args :
        sum += num
    return sum

In [163]:
add(1,2,3)

6

In [164]:
numbers = (1, 2, 3)
add(numbers)

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [165]:
add(*numbers) # 언패킹 : 변수 앞에 *를 븉여 튜플을 언패킹 하여 전달

6

### 딕셔너리 인수 언패킹

In [166]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [168]:
func8(shape ='rect', width = 40, height =30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [171]:
info = {'shape':'rect', 'width': 40, 'height':30}

In [172]:
func8(info)

TypeError: func8() takes 0 positional arguments but 1 was given

In [173]:
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)