In [1]:
from IPython.display import display, HTML
display(HTML ("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch02. </font></b>
# 5절. 연산자
## 5.1 산술 연산자: +,-,*,/(결과 float),//(몫),%(나머지),**(제곱)

In [8]:
print("10*5승 =", 10**5)
print("4/2(결과 실수) =", 4/2)
print("5//2(몫) = ", 5//2)
print("5%2(나머지) =", 5%2)

10*5승 = 100000
4/2(결과 실수) = 2.0
5//2(몫) =  2
5%2(나머지) = 1

In [6]:
# 정수끼리 연산은 결과가 정수(단 / 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2.0)

4**2 = 16.0

In [19]:
# quiz1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력

num= int(input("정수를 입력하세요:"))
result = num % 2
if  result:
    temp = "홀수"
else :
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {tmep}를 입력하셨습니다.")

정수를 입력하세요:2
입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {tmep}를 입력하셨습니다.

In [72]:
# quiz2. 정수를 입력받아 5의 배수인지 여부를 출력
num= int(input("정수를 입력하세요:"))
if  num%5:
    print("5의 배수가 아닙니다.")
else :
    print("5의 배수입니다.")

정수를 입력하세요:5
5의 배수입니다.

In [86]:
# quiz3. 국,영,수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
#국어:99    영어:100    수학 : 100 
#총점:299    평균:99.7
kor = int(input("국어:"))
eng = int(input("영어:"))
mat = int(input("수학:"))
sum = kor + eng + mat
avg = sum / 3
print("국어: {:3d}\t영어: {:3d}\t수학: {:3d}".format(kor, eng, mat))
print("총점: {:3d}\t평균: {:2.1f}".format(sum,avg))

국어:99
영어:100
수학:100
국어:  99	영어: 100	수학: 100
총점: 299	평균: 99.7

## 5.2 할당 연산자 : =, +=, -+, /=, *=, //=, %=

In [92]:
a = 10
a += 5 #a = a + 5 와 동일
print(f"a = {a}")

a = 15

In [93]:
a -= 5 #a = a - 5 
print("5빼기 :", a) #10
a *= 10 # a = a*10
print("10배 : ", a) #100 
a //= 5 # a = a // 5
print("5나눈 몫:", a)

5빼기 : 10
10배 :  100
5나눈 몫: 20

## 5.3 논리 연산자 : &, and, |, or, not

In [97]:
# & : 논리 연산자, 비트 연산자
print((10>3) & (10>5)) # 논리 연산 True & True
print( 12 & 1) # 비트 연산 1 1 0 0 (12)
                       #   0 0 0 1  (1)
                      # &:0 0 0 0
print("{:4b}".format(12))

True
0
1100

In [103]:
# and : 논리 연산자. False로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 True면, 마지막항을 결과 반환
print((10>3) and (10>5))
print( 0 and 1)

True
0

In [107]:
# | : 논리 연산, 비트 연산
result = True | False
print('논리연산(연산자 안뒤에 논리형일 때) :', result)
result = False | 3 # 0000 (0)
                    # 0011 (3)
                  # |:0011 (3)
print('비트연산(연사자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 안뒤에 논리형일 때) : True
비트연산(연사자 앞이나 뒤에 숫자일 때) : 3

In [110]:
# or : 논리 연산, 참으로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 거짓이면 마지막항의 결과 반환
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])
print(False or 0 or True or None or [])

[]
Hong
True

In [111]:
# not : 논리 연산자, 논리 반전
not 10>5

False

## 5.4 비교 연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [114]:
# 비교 연산자는 이항, 삼항, 사항, ... 다항 연산자
x = 95
print((90<=x) & (x<= 100))
print( 90 <= x <= 100)
print( 90 <= x <= 100 >10)

True
True
True

In [122]:
# 비교 연산자의 우선순위가 비트 연산자(|,&)의 우선순위보다 낮다
print( (10 > 5) & (10 > 7))
print( 10 > 5 & 10 > 7) # 괄호가 없으면 우선순위가 높은 5&10부터 실행
print( 10 > 0 > 7)
# 0101(5) & 1010 (10)

True
False
False

In [128]:
address = "목동"
age = 29
#print((address == "목동") & (age <= 30))
print((address == "목동") & (age <= 30))
print(address == "목동" and age <= 30)

True
True

In [130]:
# 문자는 ASCII 코드 순으로 비교:: 특수문자 < 숫자문자 < 대문자 < 소문자 (abc순)
"scott" < "tiger"

True

In [129]:
"김길동 " < "홍길동"

True

## 5.5 비트 연산: &, |, ^(XOR), ~(반대)

    '''
    
    x     y     x&y    x|y    x^y    ~x
    ------------------------------------
    0     0      0      0      0      1
    0     1      0      1      1      1
    1     0      0      1      1      0
    1     1      1      1      0      0
    
    '''

In [8]:
a = 15 # 1111 (8+4+2+1)
b =  2 # 0010 
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101

# 6절. 문자열 다루기
- 문자열변수[from:to:step] : 일부 문자 추출
- len(문자열변수) : 문자수
- upper() : 문자열을 대문자로 바꿈 
- lower() : 문자열을 소문자로 바꿈
- title() : 각 어절의 첫 문자만 대문자로 바꿈
- capitalize() : 첫문자만 대문자로 바꿈
- count("찾을문자열") : "찾을문자"가 몇개 들어있는지 갯수 반환 (대,소문자 구분함)
- find("찾을문자") : "찾을문자"가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 -1) (대,소문자 구분함)
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번째에 있는지 index를 반환 (없으면 -1) (대,소문자 구분함)
- index("찾을문자) : 찾을문자가 왼쪽부터 몇번째에 있는 index를 반환(없으면 에러) (대,소문자 구분함)
- startswith("특정문자") : "특정문자"로 시작하는 지 여부 반환 (대,소문자 구분함)
- endswith("특정문자") : "특정문자"로 끝나는지 여부 반환 (대,소문자 구분함)
- strip() : 좌우 공백 제거(trim) 
- lstrip() : 왼쪽 공백 제거
- rstrip() : 오른쪽 공백 제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
- isdigit() : 문자열이 숫자인지 문자인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환
- isupper() : 문자열이 대문자인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [20]:
temp = "python is easy. python is smart.python"
temp, len(temp)

('python is easy. python is smart.python', 38)

In [51]:
temp = "python is easy. python is smart.python"
    
print("대문자로:", temp.upper())
print("소문자로:", temp.lower())
print("title():", temp.title())
print("capitalize():", temp.capitalize())
print("c가 몇번 나오는지", temp.count("c"))
print("python이 몇번 나오는지", temp.count("python"))
print("대,소문자 구분없이 python이 몇번:", temp.lower().count("python"))
print("대,소문자 구분없이 python이 몇번:", temp.upper().count("PYTHON"))
print("대,소문자 구분없이 python이 몇번:", temp.title().count("Python"))
print("python이 나오는 첫index 위치", temp.find("python"))
print("python이 나오는 마지막index 위치", temp.rfind("python"))
print("C가 나오는 index위치:", temp.find("C")) # 찾을문자가 없을 경우 -1반환
print("python이 나오는 첫index 위치", temp.index("python"))
#print("C가 나오는 index위치:", temp.index("C")) - 찾을문자가 없을 경우 에러
print("python으로 시작하는 여부:", temp.startswith("python"))
print("python으로 시작하는 여부:", temp.lower().startswith("python"))
print("python으로 끝나는지 여부:", temp.endswith("python"))
print("python으로 끝나는지 여부:", temp.endswith("python"))
print("python을 R로 변경 :", temp.replace("pytho", "R"))
print(temp)

대문자로: PYTHON IS EASY. PYTHON IS SMART.PYTHON
소문자로: python is easy. python is smart.python
title(): Python Is Easy. Python Is Smart.Python
capitalize(): Python is easy. python is smart.python
c가 몇번 나오는지 0
python이 몇번 나오는지 3
대,소문자 구분없이 python이 몇번: 3
대,소문자 구분없이 python이 몇번: 3
대,소문자 구분없이 python이 몇번: 3
python이 나오는 첫index 위치 0
python이 나오는 마지막index 위치 32
C가 나오는 index위치: -1
python이 나오는 첫index 위치 0
python으로 시작하는 여부: True
python으로 시작하는 여부: True
python으로 끝나는지 여부: True
python으로 끝나는지 여부: True
python을 R로 변경 : Rn is easy. Rn is smart.Rn
python is easy. python is smart.python

In [77]:
temp = "  python is easy  "
notdigit = "1,000"
print("좌우 공백 : [{}]".format(temp))
print("좌우 공백 제거 : [{}]".format(temp.strip()))
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
print("isdigits(숫자문자)인지 여부 :", notdigit.isdigit())
print("replace후 isdigits(숫자문자)인지 여부 :", notdigit.replace(",","").isdigit())
print("대문자인지 여부 :", temp.isupper()) #공백을 빼고 다 대문자여야 함
print("소문자인지 여부 :", temp.islower()) #공백을 빼고 다 소문자여야 함

좌우 공백 : [  python is easy  ]
좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy  ]
오른쪽 공백 제거 : [  python is easy]
isdigits(숫자문자)인지 여부 : False
replace후 isdigits(숫자문자)인지 여부 : True
대문자인지 여부 : False
소문자인지 여부 : True

In [78]:
int("1,000".replace(",", ""))

1000

In [70]:
names = "홍길동 김길동  박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names 분리(list로 반환):", names.split())
print(name_list[0], name_list[1], name_list[2], name_list[3], name_list[4])
print(name_list[0:5])

space단위로 names 분리(list로 반환): ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동 박길동 주길동 고길동
['홍길동', '김길동', '박길동', '주길동', '고길동']

In [75]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [79]:
# str_ = "ABC"
str_ = ["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [83]:
# ' - '을 "/"로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG)"
# temp.replace(" - ", "/")
# split()와 join() 이용하여 replace역할
splited_temp = temp.split(" - ")
print("분리된 temp:", splited_temp)
joined_temp = "/".join(splited_temp) # "/"로 매겨변수 list를 연결
print("join temp :", joined_temp)

분리된 temp: ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML(M/DNN/CNN/RNN)', 'LLM(RAG)']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML(M/DNN/CNN/RNN)/LLM(RAG)

In [84]:
# 문자열을 다룰 수 있는 함수들 목록
# dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간,날짜 다루기

In [85]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [1]:
# datetime 모듈(datetime.py)안의 datetime, date, time만 load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [3]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [11]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M%S"))
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 convert

25년09월11일(Thursday) 09:3000
25년09월11일(Thursday) 09:3000
Thu Sep 11 09:30:00 2025

In [12]:
#지금을 저장하는 dAtetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%y년%m월%d일 %p %I:%M%S"))

2025-09-17 14:24:49.004745
Wed Sep 17 14:24:49 2025
25년09월17일 PM 02:2449

In [14]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 4:54:49.004745
6

## 7.2 날짜

In [16]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025, 9, 11)
someday

datetime.date(2025, 9, 11)

In [18]:
print(someday)
print(someday.strftime("%y년%m월%d일 %H:%M"))

2025-09-11
25년09월11일 00:00

In [20]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [23]:
print(today1.strftime("%y년%m월%d일 %H:%M"))
print(today2.strftime("%y년%m월%d일 %H:%M"))

25년09월17일 00:00
25년09월17일 00:00

In [28]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [30]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [32]:
print(t.strftime("%p %I:%M"))

PM 02:39

In [33]:
print(t.strftime("%y년%m월%d일 %H:%M"))

00년01월01일 14:39

In [34]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:43:34.996436

# 8절. 연습문제

In [35]:
#1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23살입니다.]
name = "홍길동"
age = 23
print("출력형식: {}님의 나이는 {}살입니다.".format(name, age))

출력형식: 홍길동님의 나이는 23살입니다.

In [36]:
#2.두 정수를 입력받아 두 수의 덧셈, 밸셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
first_number = int(input("첫 번째 숫자:"))
second_number = int(input("두 번째 숫자:"))
print("덧셈:", first_number + second_number)
print("뺄셈:", first_number - second_number)
print("곱셈:", first_number * second_number)
print("나눗셈:", first_number / second_number)
print("몫:", first_number // second_number)
print("나머지:", first_number % second_number)

첫 번째 숫자:8
두 번째 숫자:2
덧셈: 10
뺄셈: 6
곱셈: 16
나눗셈: 4.0
몫: 4
나머지: 0

In [49]:
#3.문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요
str_ = "Hello World"
print(str_[6:12] + str_[5:6] + str_[0:6])

World Hello

In [50]:
#4.x = 'abcdef'를 이용하여 'bcdefa'로 출력하세요(문자 슬라이싱이용)
x = 'abcdef'
print(x[1:6] + x[0:1])

bcdefa

In [56]:
#5.x = 'abcdef'를 이용하여 'fedcba'로 출력하세요
x = 'abcdef'
print(x[::-1])

fedcba

In [12]:
#6.오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변화하는 프로그램을 작성하세요.
#화씨온도는 소수점이 있을 경우만 두번째 자리까지 출력되고, 소수점이하 값이 없는 경우 출력하지 않도록합니다.
C = int(input("오늘의 온도:"))
F = (C*1.8) + 32
#if f.is_integer():
#if f == round(f):
if F % 1 == 0:
    print('오늘의 온도:[{:2.0f}]'.format(F))
    
else :
    print('오늘의 온도:[{:2.2f}]'.format(F))

오늘의 온도:20
오늘의 온도:[68]

In [13]:
#7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오?
##1.for 2.10th 3.Student.name 4._1234
### 정답: 1번 2번 3번

In [14]:
#8.다음의 코드의 실행결과는?
text = "Seoul A001 - programming with python"
print(text[:4] + text[-1] + text.split()[0])
print(text[:4] + text[-1],text.split()[0])

SeounSeoul
Seoun Seoul

In [15]:
#9.다음 중 파이썬 3.x버전에서 연산식과 그 결과 출력이 잘못된 것은?
##1.수식 8//2 결과 4 2. 수식 8/2 결과 4 3. 수식 8**2 결과 64
### 정답: 2번

In [16]:
#10.아래 프로그램의 결과는?
x =5
y = "John"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
#11.split()함수를 이용하여 str_의 값 중 "나라"를 출력하는 프로그램을 완성하시오
str_= "우리 나라 대한 민국"
str_list = str_.split()
print(str_list[1])

나라