In [1]:
from IPython.display import display, HTML
display(HTML ("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶엇 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2.....
```
# 1절. 함수의 정의 및 사용
## 1.1  함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2,  'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [6]:
print('Hello') # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
#print('Hello')
del print
print('Hello')

Hello
Hello

In [7]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [9]:
my_message = 5
my_msg(2, 'Hello')
my_message(2, 'Hello')

0 Hello
1 Hello

TypeError: 'int' object is not callable

In [10]:
del my_message # 변수 및 함수 제거하여도 
my_message(2,'Hello') # 사용자 정의함수, 라이브러리 함수는 del 하여도 사용불가

NameError: name 'my_message' is not defined

In [11]:
# Python에서는 함수 중복 정의 불가(오버로딩 불가)
def my_hello(): _
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello, Python', end = '\t')
        print('Hello, World')

In [12]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [13]:
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [16]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
import ch05 # ch05모듈이 해석되서 메모리 로드

In [2]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [3]:
from ch05 import my_hello # ch05모듈안의 my_hell만 메모리 로드
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [4]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [6]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [7]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
        n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언하 변수 : 지역변수(반:전역변수)
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행

In [8]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [9]:
fibonacci(10)

0 1 1 2 3 5 8

In [10]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [11]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [12]:
a, b # 지역변수는 함수내에서만 사용가능

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [17]:
global_var = 100
def func1():
    print('함수안 :', global_var)
func1()
print("함수밖 :", global_var)

함수안 : 100
함수밖 : 100

In [19]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print('함수안:',local_var)
func2()

함수안: 200

In [20]:
#print('함수밖에서 지역변수 :', local_var) #에러

In [21]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라
# 변수의 범위가 정해짐(지역vs전역)
g_var = 100 # 전역변수
def func3():
    g_var = 200
    print('g_var :',g_var) #지역변수 (함수내에서 할당)
func3()
print('g_var :', g_var)

g_var : 200
g_var : 100

In [22]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    print('g_var :',g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [23]:
#렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var # 함수내에서의 g_var는 전역변수를 쓰겠다
    print('g_var :',g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('g_var :', g_var)

g_var : 100
g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수 스칼라변수(문자, 숫자, 논리형)

In [24]:
foo = 'a' # 전역변수
id(foo)

1651452700464

In [25]:
def func1(f): # 매개변수는 지역변수
    print('before', f, '의 주소는', id(f))
    f = f*3
    print('after', f, '의 주소는', id(f))
func1(foo)

before a 의 주소는 1651452700464
after aaa 의 주소는 1651535805808

In [26]:
print('foo =', foo, '의 주소는', id(foo))

foo = a 의 주소는 1651452700464

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [27]:
L = [1, 2, 3, 4, 5]
id(L)

1651531323072

In [28]:
def func2(f): # 매개변수는 지역변수
    print('before:', f, '의 주소는', id(L))
    f.append(6)
    print('after:', f, '의 주소는', id(L))
func2(L)

before: [1, 2, 3, 4, 5] 의 주소는 1651531323072
after: [1, 2, 3, 4, 5, 6] 의 주소는 1651531323072

In [29]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 1651531323072

# 2절. 함수의 실행 결과를 반환하는 return

In [31]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
        n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언하 변수 : 지역변수(반:전역변수)
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [33]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [34]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

### 여러개 값 return
- 여러개 값을 갖는 튜플로 return

In [35]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b,a # return (b,a)

In [36]:
a = swap(1,2)
type(a)

tuple

In [37]:
print(a)

(2, 1)

In [38]:
x, y = swap(1,2)

In [39]:
print(x,y)

2 1

In [43]:
x=5; y=10
print('함수 실행 전 x,y =', x,y)
x, y = swap(x,y)
print('함수 실행 후 x,y =', x, y)

함수 실행 전 x,y = 5 10
함수 실행 후 x,y = 10 5

# 3절 함수의 매개변수 ★
## 3.1 기본 값을 갖는 매개변수

In [44]:
def make_url(ip, port=80): #순서인수가 앞에 있어야함 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [50]:
print(make_url("localhost"))
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))
#print(make_url(port=9090)) ip는 기본값을 가지지 않음 에러

http://localhost:80
http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [51]:
#def make_url(port=80, ip): #순서인수가 앞에 있어야함 > 기본값을 갖는 매개변수
#    return "http://{}:{}".format(ip, port) 에러

## 3.2 기본 변수를 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [52]:
i = 80
# 기본 변수가 스칼라 변수일 때 : 함수가 정의 되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [53]:
i = 90
make_url("localhost")

'http://localhost:80'

In [55]:
list_ = []
# 기본 변수가 리스트, 셋, 딕셔너리, 객체일 때: 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L = list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [57]:
print(func3(3))

[10, 20, 3]

In [58]:
print("list_=", list_)

list_= [10, 20, 3]

In [60]:
# 실행할 때마다 L을 공유하는게 싫으면 
def func3(a, L= None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))
print(func3(10))

[10]
[10]
[10]
[1, 2, 3, 10]
[10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [61]:
def func3(a, L= None): #순서 거꾸로시 에러
    if L is None:
        L = []
    L.append(a)
    return L

In [62]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [67]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
# args 앞에 * : args가 튜플로 전달받는다
def add(*args):# 매개변수 앞에 *를 붙여 정의
    print('args=', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum = sum + num # sum += num
    return sum

In [83]:
print(add(10, 20))
print(add(10, 20 ,30))
print(add(10,20,30,40))

args= (10, 20)
30
args= (10, 20, 30)
60
args= (10, 20, 30, 40)
100

In [85]:
# 튜플 매개변수와 일반 매개변수가 같이 있을때
def concat(*subject, sep):
    return sep.join(subject)

In [89]:
concat('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL','-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [90]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL',sep ='-')

In [95]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*args, sep = '-'): # 튜플매개변수 > 키워드인수
    return sep.join(subject)

In [97]:
concat('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [100]:
#해결책3 : sep을 순서인수로 앞으로 -강추
def concat(sep, *args):
    return sep.join(args)

In [101]:
concat('-', 'Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [69]:
def concat(*args, sep):
    return sep.join(args)

In [82]:
print(concat("earth", "mars", "venus", sep = "/"))

earth/mars/venus

In [74]:
def concat(sep, *args):
    return sep.join(args)

In [75]:
print(concat("/","earth", "mars", "venus"))

earth/mars/venus

In [76]:
def concat(sep = "/", *args):
    return sep.join(args)

In [77]:
print(concat("earth", "mars", "venus"))

marsearthvenus

In [78]:
def concat(*args,sep = "/"):
    return sep.join(args)

In [102]:
concat("earth", "mars","venus")

'marsearthvenus'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [108]:
def func5(**args): # args : 딕셔너리로 전달받음
    print(args)

In [113]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000', address = '서울 관악구', width=300, color='red')

{'name': '홍길동', 'age': 30, 'tel': '010-0000-0000', 'address': '서울 관악구', 'width': 300, 'color': 'red'}

In [125]:
def func5(**args): # args : 딕셔너리로 전달받음
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 20))
    print('전화 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 종로'))

In [127]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000',address = '서울 관악구',  width=300, color='red')

이름 : 홍길동
나이 : 30
전화 : 010-0000-0000
주소 : 서울 관악구

In [128]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print("{}:{}".format(key,value))

In [130]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000', address = '서울 관악구', width=300, color='red')

{'name': '홍길동', 'age': 30, 'tel': '010-0000-0000', 'address': '서울 관악구', 'width': 300, 'color': 'red'}
<class 'dict'>
name:홍길동
age:30
tel:010-0000-0000
address:서울 관악구
width:300
color:red

In [145]:
def func5(**args):
    print(args)
    print(type(args))
    if not 'addrss' in args: # args에 address 키가 없으면 if문 True
       # args['address'] = '서울시 관악구'
       # args.update({'address' : '서울시 관악구'})
        args.update(address = '서울시 관악구')
    for key, value in args.items():
        print("{}:{}".format(key,value))

In [146]:
func5(name = '홍길동', age = 30, tel = '010-0000-0000')

{'name': '홍길동', 'age': 30, 'tel': '010-0000-0000'}
<class 'dict'>
name:홍길동
age:30
tel:010-0000-0000
address:서울시 관악구

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [147]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [149]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '신림' )

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d =  {'name': '홍길동', 'age': 30, 'address': '신림'}

In [155]:
# 순서인수 > 튜플인수> 키워드인수 > 딕셔너리인수
def func7(a, b, c, *d, e=10,**f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값) = ', e)
    print('딕셔너리인수 = ', f)

In [161]:
func7(10, 20, 30)
(func7(10, 20, 30, 4, 5, name = '홍길동'))
(func7(10, 20, 30, 4, 5, e=100, shape = 'rect', width = 20, height = 30))

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값) =  10
딕셔너리인수 =  {}
순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (4, 5)
키워드인수(기본값) =  10
딕셔너리인수 =  {'name': '홍길동'}
순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (4, 5)
키워드인수(기본값) =  100
딕셔너리인수 =  {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 *나 ** 붙임(튜플매개변수)

In [162]:
#패킹
def add(*args):
    sum = 0
    for num in args :
        sum += num
    return sum

In [163]:
add(1,2,3)

6

In [164]:
numbers = (1, 2, 3)
add(numbers)

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [165]:
add(*numbers) # 언패킹 : 변수 앞에 *를 븉여 튜플을 언패킹 하여 전달

6

### 딕셔너리 인수 언패킹

In [166]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [168]:
func8(shape ='rect', width = 40, height =30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [171]:
info = {'shape':'rect', 'width': 40, 'height':30}

In [172]:
func8(info)

TypeError: func8() takes 0 positional arguments but 1 was given

In [173]:
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절. 람다식
- return 한 줄짜리 작은 익명함수
## 4.1 람다식 연습

In [1]:
def add(a,b):
    return a+b

In [5]:
add(1,2)

3

In [3]:
add2 = lambda a,b : a+b

In [4]:
add2(1,2)

3

In [16]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오
def even_odd_chk(num):
#    if num%2:
#        result = "홀수"
#    else:
#        result = "짝수"
    return  "홀수" if num%2 else "짝수"
even_odd_chk2 = lambda num : "홀수" if num%2 else "짝수"
even_odd_chk2(5)

'홀수'

In [18]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보시오
def sub1(a,b):
    return a-b if a>b else b-a
sub2 = lambda a,b : a-b if a>b else b-a
sub2(1,5)

4

In [20]:
# ex3. 매개변수로 잔액을 받아, 잔액이 0이상이면 잔액을 return, 음수면 'negative'
ex3 = lambda balance : balance if balance >=0 else 'negative'
ex3(-1)

'negative'

In [36]:
# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'
                    #100점 촤과, 0점미만은 '유효하지 않음'을 return
def levelChk(score):
    if 80<=score<=100:
        result = 'A팀'
    elif 60<=score<80:
        result = 'B팀'
    elif 0<=score<60:
        result = '재시험'
    else :
        result = '유효하지 않음'
    return result
ex4 = lambda score : 'A팀' if 100>= score >=80  else \
                      'B팀' if 60<= score <80 else \
                      '재시험' if 0<= score < 60 else \
                      '유효하지 않음'
ex4(99), ex4(101), ex4(-1)

('A팀', '유효하지 않음', '유효하지 않음')

In [38]:
# 점수를 입력받아 학점을 return 
score_grade = lambda score : 'A학점' if 100>= score >=90  else \
                              'B학점' if 80<= score <90 else \
                              'C학점' if 70<= score < 80 else \
                              'D학점' if 60<= score < 70 else \
                              'F학점' if 0<= score < 60 else \
                              '유효하지 않음' 
score_grade(60), score_grade(120)

('D학점', '유효하지 않음')

In [41]:
# ex5 safe_index함수를 람다식으로
def safe_index(lst, item, start=0):
    return lst.index(item, start) if item in lst[start:] else -1
ex5 = lambda lst, item, start = 0 : lst.index(item, start) if item in lst[start:] else -1
lst = [1,2,3]
safe_index(lst,4), ex5(lst,3, 1)

(-1, 2)

In [50]:
# 람다식을 list에 들어갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눔'
operations = [add, sub, mul, div] #사칙연산 함수들

def act_opertions(a, b, operations = operations) : # a,b의 사칙연산 결과를 return
    result = []
    for op in operations :
        result.append(op(a, b))
    return result

act_opertions(20, 5)

[25, 15, 100, 4.0]

In [ ]:
act_opertions(8, 2, [lambda x,y : x**y, lambda x,y: 10*x+y])

In [51]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [52]:
act_opertions(8, 2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
###  (1) map

In [71]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [68]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [81]:
list_data = [1,2,3,4,5,6,7,8,9]
#def x_2(x):
#    return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [80]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [83]:
# 리스트 컴프리헨션
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
list(map(lambda x : x*2 , list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
for data in map(lambda x:x*2, list_data):
    print(data, end = ' ')

2 4 6 8 10 12 14 16 18

In [104]:
'''
예제 1 
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
'''
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
#def toint(value):
#    return int(value.replace(',',''))
#toint('500,000')
prices_int = map(lambda value : int(value.replace(',','')),prices)

for price in prices_int:
    print(price, end = ' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [124]:
'''
예제 2
members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
{'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [
{'name':'홍길동', 'year':2000, 'month':1,'day':1},
{'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'}]
# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day':1}
def split_date(date):
        split_date = date.split('-')
        return {
            'year':int(split_date[0]),
            'month':int(split_date[1]),
            'day' : int(split_date[2])
    }
    
split_date('2025-01-01'), split_date('1995-12-21')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 21})

In [132]:
def split_date(data):
    return {
        'year' : int(data['birth'].split('-')[0]),
        'month' : int(data['birth'].split('-')[1]),
        'day' : int(data['birth'].split('-')[2])
    }
split_date({'birth' : '2025-10-10'})

{'year': 2025, 'month': 10, 'day': 10}

In [133]:
def member_preprocessing(member):
    return{
        'name' : member.get('name', '이름없음'), #member['name']
        'year' : int(member.get('birth').split('-')[0]),
        'month' : int(member.get('birth').split('-')[1]),
        'day' : int(member.get('birth').split('-')[2]),
    }
member_preprocessing({'name' : '홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [138]:
members2 = list(map(lambda member : {
                                'name' : member.get('name', '이름없음'), 
                                'year' : int(member.get('birth').split('-')[0]),
                                'month' : int(member.get('birth').split('-')[1]),
                                'day' : int(member.get('birth').split('-')[2]),
                            }, members1 
                   )
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [145]:
'''
예제3 members2를 members1로 전환
'''
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month': 9, 'day': 9})

'2000-09-09'

In [147]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
join_date({'year':2000, 'month': 9, 'day': 9})

'2000-09-09'

In [148]:
def join_date(data):
    return {"birth":"{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000, 'month': 9, 'day': 9})

{'birth': '2000-09-09'}

In [160]:
def members_preprocessing(member):
    return {
        'name': member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name': 'hong', 'year':2000,'month':1,'day':1})

{'name': 'hong', 'birth': '2000-01-01'}

In [166]:
list(map(lambda member:{
         'name': member.get('name'),
         'birth':"{year}-{month:02}-{day:02}".format(**member)
            }, members2 
                )
               )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [167]:
def filter_template(func, L=[]):
    result = []
    for item in L :
        if func(item):
            result.append(item)
    return result

In [169]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2 
#    if value%2 :
#        return True
#    else:
#        return False
filter_template(lambda value : value%2, list_data)

[1, 3, 5, 7, 9]

In [171]:
# 리스트컴프리헨션
[value for value in list_data if value%2!=0]

[1, 3, 5, 7, 9]

In [177]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리헨션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100,-2, -12.2]
list(filter(lambda x : x%1==0, L))
[value for value in L if value%1==0]

[1, 3.0, 100, -2]

### (3) sort

In [178]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [180]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data : data[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [182]:
pairs.sort(key=lambda data : data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [200]:
# 합이 큰 순으로 정렬
number_2d = [[9,9], [1,100], [10,200]]
number_2d.sort(key=lambda items : sum(items), reverse =True)
number_2d

[[10, 200], [1, 100], [9, 9]]

In [203]:
students = [{'name' : '홍', 'score' : 99},
           {'name' : '김', 'score' : 50},
           {'name' : '박', 'score' : 77},
           {'score' : 99}]

In [204]:
name_select = lambda data : data.get('score')
name_select({'name':'홍', 'score':90})

90

In [208]:
# students를 name순으로 정렬(ㄱㄴㄷ 순)
students.sort(key= lambda data : data.get('name', ' '))
students

[{'score': 99},
 {'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99}]

In [210]:
# students를 score 큰 순 정렬
students.sort(key= lambda data : data.get('score', ' '),reverse = True)
students

[{'score': 99},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [221]:
# 예제 : bokks 정렬(no, title, price)
books = \
[{'no':2, 'title':'더트릭컬', 'writer': '폴빠','price':'19,800'},
{'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
{'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
{'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
{'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
{'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [226]:
books.sort(key= lambda data : data['no'])
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [228]:
books.sort(key = lambda data : data['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [235]:
def parse_int (price):
    if isinstance(price,str) and price.replace(',','').isdigit():
        return int(price.replace(',', ''))
    elif isinstance(price,int):
        return price
    else:
        return 0
parse_int = lambda price : \
            int(price.replace(',','')\
                if isinstance(price,str) and price.replace(',','').isdigit() else \
            price if isinstance(price,int) else 0       )
parse_int(None)

0

In [244]:
parse_int = lambda book : \
            int(book.get('price').replace(',','')\
                if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() else \
            price if isinstance(book.get('price'),int) else 0       )
parse_int({'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'})

15120

In [247]:
def parse_int (price):
    if str(price) and str(price).replace(',','').isdigit():
        return int(str(price).replace(',', ''))
    else:
        return 0
parse_int(None)

0

In [254]:
copyBooks = books.copy() #복제
copyBooks.sort(key= lambda book : \
            int(book.get('price').replace(',',''))\
                if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() else \
            book.get('price') if isinstance(book.get('price'), int) else \
                0,
            reverse = True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절. 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while, ..)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)으로 사용하는 것을 피한다

In [261]:
a =10

In [262]:
globals() #전역변수리스트

{'__name__': '__main__',
 '__doc__': '\n예제3 members2를 members1로 전환\n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'def add(a,b):\n    return a+b',
  'add(1,2)',
  'add2 = lambda a,b : a+b',
  'add2(1,2)',
  'add(1,2)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return 함수를 람다식으로 만들어보시오',
  '# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보시오',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-5)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)\neven_odd_chk2 = lambda num : num%2 ',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)\neven_odd_chk2 = lambda num : num%2 \neven_ood_chk2(5)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n    if num%2:\n        result = "홀수"\n    else:\n        result = "짝수"\n    return result\neven_odd_chk(5), even_odd_chk(-4)\neven_odd_chk2 = lambda num : num%2 \neven_odd_chk2(5)',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n#    if num%2:\n#        result = "홀수"\n#    else:\n#        result = "짝수"\n    return = "홀수" if num%2 else "짝수"\neven_odd_chk2 = lambda num : "홀수" if num%2 else "짝수"',
  '# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보시오\ndef even_odd_chk(num):\n#    if num%2:\n#        result = "홀수"\n#    else:\n#        result = "짝수"\n    return  "홀수" if num%2 else "짝수"\neven_odd_chk2 = lambda num : "홀수" if num%2 else "짝수"\neven_odd_chk2(5)',
  '# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보시오\ndef sub1(a,b):\n    return a-b\nsub2 = lambda a,b : a-b\nsub2(1,5)',
  '# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보시오\ndef sub1(a,b):\n    return a-b\nsub2 = lambda a,b : a-b if a>b else b-a\nsub2(1,5)',
  "# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'\nex3 = lambda balance : balance if balance >=0 else 'negative'\nex3(1)",
  "# ex3. 매개변수로 잔액을 받아, 잔액이 0이상이면 잔액을 return, 음수면 'negative'\nex3 = lambda balance : balance if balance >=0 else 'negative'\nex3(-1)",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : score if 100>=score>=80 'A팀' elif 80>score>>=60 'B팀' elif 60>score>=0 '재시험'else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : score if 100>=score>=80 'A팀' elif 80>score>>=60 'B팀' elif 60>score>=0 '재시험' else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : 'A팀' if 100>=score>=80 'A팀' elif 80>score>>=60 'B팀' elif 60>score>=0 '재시험' else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : 'A팀' if 100>=score>=80 'A팀' else 80>score>>=60 'B팀' else 60>score>=0 '재시험' else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : 'A팀' if 100>=score>=80 'A팀' else if 80>score>>=60 'B팀' else if 60>score>=0 '재시험' else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : score if 100>=score>=80 'A팀' else if 80>score>>=60 'B팀' else if 60>score>=0 '재시험' else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : score if 100>= score >=80 'A팀' else if 80>score>>=60 'B팀' else if 60>score>=0 '재시험' else '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : score if 100>= score >=80 'A팀' else 80>score>>=60 'B팀' ",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : score if 100>= score >=80 'A팀' else 'B팀' ",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\nex4 = lambda score : 'A팀' if 100>= score >=80  else 'B팀' ",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        result = 'A팀'\n    elif 60<=score<80:\n        result = 'B팀'\n    elif 0<=score<60:\n        result = '재시험'\n    else :\n        result = '유효하지 않음'\n    return result\nex4 = lambda score : 'A팀' if 100>= score >=80  else 'B팀' ",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        result = 'A팀'\n    elif 60<=score<80:\n        result = 'B팀'\n    elif 0<=score<60:\n        result = '재시험'\n    else :\n        result = '유효하지 않음'\n    return result\nex4 = lambda score : 'A팀' if 100>= score >=80  else \\\n                      'B팀' if 60<= score <80 else \\\n                      '재시험' if 0<= score < 60 else '재시험'",
  'ex4(101)',
  'ex4(99)',
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        result = 'A팀'\n    elif 60<=score<80:\n        result = 'B팀'\n    elif 0<=score<60:\n        result = '재시험'\n    else :\n        result = '유효하지 않음'\n    return result\nex4 = lambda score : 'A팀' if 100>= score >=80  else \\\n                      'B팀' if 60<= score <80 else \\\n                      '재시험' if 0<= score < 60 else \\\n                      '유효하지 않음'",
  "# ex4. 정수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'\n                    #100점 촤과, 0점미만은 '유효하지 않음'을 return\ndef levelChk(score):\n    if 80<=score<=100:\n        result = 'A팀'\n    elif 60<=score<80:\n        result = 'B팀'\n    elif 0<=score<60:\n        result = '재시험'\n    else :\n        result = '유효하지 않음'\n    return result\nex4 = lambda score : 'A팀' if 100>= score >=80  else \\\n                      'B팀' if 60<= score <80 else \\\n                      '재시험' if 0<= score < 60 else \\\n                      '유효하지 않음'\nex4(99), ex4(101), ex4(-1)",
  "# 점수를 입력받아 학점을 return \nscore_grade = lambda score : 'A학점' if 100>= score >=90  else \\\n                              'B학점' if 80<= score <90 else \\\n                              'C학점' if 70<= score < 80 else \\\n                              'D학점' if 60<= score < 70 else \\\n                              'F학점' if 0<= score < 60 else \\\n                              '유효하지 않음' ",
  "# 점수를 입력받아 학점을 return \nscore_grade = lambda score : 'A학점' if 100>= score >=90  else \\\n                              'B학점' if 80<= score <90 else \\\n                              'C학점' if 70<= score < 80 else \\\n                              'D학점' if 60<= score < 70 else \\\n                              'F학점' if 0<= score < 60 else \\\n                              '유효하지 않음' \nscore_grade(60), score_grade(120)",
  '#1번. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요',
  '# ex5 safe_index함수를 람다식으로\ndef safe_index(lst, item, start=0):\n    return lst.index(item, start) if item in lst[start:] else -1\nex5 = lambda lst, item, start = 0 : lst.index(item, start) if item in lst[start:] else -1',
  '# ex5 safe_index함수를 람다식으로\ndef safe_index(lst, item, start=0):\n    return lst.index(item, start) if item in lst[start:] else -1\nex5 = lambda lst, item, start = 0 : lst.index(item, start) if item in lst[start:] else -1\nlst = [1,2,3]\nsafe_index(lst,4), ex5(lst,3, 1)',
  "#2번. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다.\n#     함수의 인자로 체중(kg)과 신장(m)를 입력받은 후 BMI값에 따라 '마른체형','표준','비만','고도비만' 중 하나의 상테를\n#     출력하는 함수를 구현해 보세요",
  '#3번. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요.',
  '#4번. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요.',
  '#5번. 함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람닥실을\n#    작성하세요.',
  '#6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오.',
  '#7. ex =[1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로\n#   구하시오.',
  '#9번. 다음 코드의 실행 결과는?',
  '#10번. n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 return하는\n#     vector_size_check(*vector_var)를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.',
  "# 람다식을 list에 들어갈 수 있음\nadd = lambda a, b : a + b\nsub = lambda a, b : a - b\nmul = lambda a, b : a * b\ndiv = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눔'\noperations = [add, sub, mul, div] #사칙연산 함수들\n\ndef act_opertions(a, b, operations = operations) : # a,b의 사칙연산 결과를 return\n    result = []\n    for op in operations :\n        result.append(op(a, b))\n    return result\n\nact_opertions(20, 5)",
  'operations.append(lambda x, y : x**y)\nlen(operations)',
  'act_opertions(8, 2)',
  '#11번. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.',
  '#1번. 다음 코드의 실행 결과는?',
  '#2번. 함수 영역과 변수들의 참조 영역에 따른 동작을 보여주기 위한 문제입니다. 오류가 발생하는 라인을 찾고\n#    문제를 해결하기 위한 코드를 작성하며, 실행 결과를 쓰세요.',
  '#3번. 다음 구문을 실행한 결과는',
  '#4번. 다음 구문의 실행 결과는?',
  '#5번. 다음 구문의 실행 결과는?',
  '#6번. 파이썬 함수에 대한 설명 중 잘못된 것은?',
  '#7번. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?',
  '#8번. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요.(영문 소문자로 쓰세요)',
  'map_template(lambda a:a, [1,2,3])',
  'def map_template(func, L=[]):\n    result = []\n    for item in L:\n        result.appemd(item)\n    return result',
  'map_template(lambda a:a, [1,2,3])',
  'def map_template(func, L=[]):\n    result = []\n    for item in L:\n        result.append(item)\n    return result',
  'map_template(lambda a:a, [1,2,3])',
  'def map_template(func, L=[]):\n    result = []\n    for item in L:\n        result.append(func(item))\n    return result',
  'map_template(lambda a:a, [1,2,3])',
  'list_dat = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'def map_template(func, L=[]):\n    result = []\n    for item in L:\n        result.append(func(item))\n    return result',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n#    return x*2\n#map_template(x_2, list_data)\nx_2= lamabda x : x*2',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n#    return x*2\n#map_template(x_2, list_data)\nx_2= lambda x : x*2',
  'list_data = [1,2,3,4,5,6,7,8,9]\ndef x_2(x):\n#    return x*2\n#map_template(x_2, list_data)\nx_2 = lambda x : x*2',
  'list_data = [1,2,3,4,5,6,7,8,9]\n#def x_2(x):\n#    return x*2\nmap_template(x_2, list_data)\nx_2 = lambda x : x*2',
  'map_template(lambda x:x*2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9]\n#def x_2(x):\n#    return x*2\nmap_template(x_2, list_data)\nx_2 = lambda x : x*2',
  'map_template(lambda x:x*2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9]\n#def x_2(x):\n#    return x*2\nx_2 = lambda x : x*2\nmap_template(x_2, list_data)',
  '# 리스트 컴프리헨션\n[item*2 for item in lst_data]',
  '# 리스트 컴프리헨션\n[item*2 for item in list_data]',
  'map(lambda x; x*2, list_data)',
  'map(lambda x ; x*2, list_data)',
  'map(lambda x : x*2, list_data)',
  'map(lambda x : x*2, list_data)',
  'map(lambda x : x*2 , list_data)',
  'list(map(lambda x : x*2 , list_data))',
  "for data in map(lambda x:x*2, list_data):\n    print(data, end = ' ')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\nprices_int = [5000, 5000, 6000, 1000]",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\nmap(lambda x : x, prices)",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\nlist(map(lambda x : x, prices))",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\nreplace(map(lambda x : x, prices))",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))\ntoint(prices)",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))\ntoint('500000')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\ndef toint(value):\n    return int(value.replace(',',''))\ntoint('500,000')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nmap(lambda value : int(value.replace(',',''), prices))",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nmap(lambda value : int(value.replace(',','')),prices)",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nprices_int = map(lambda value : int(value.replace(',','')),prices)\nfor price in prices_int:\n    print(price, end = ' ')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nprices_int = map(lambda value : int(sorted.value.replace(',','')),prices)\nfor price in prices_int:\n    print(price, end = ' ')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nprices_int = map(lambda value : int(sort.value.replace(',','')),prices)\nfor price in prices_int:\n    print(price, end = ' ')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nprices_int = map(lambda value : int(value.replace(',','')),prices)\n\nfor price in prices_int:\n    print(sorted.price, end = ' ')",
  "'''\n예제 1 prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오\n'''\nprices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']\n#def toint(value):\n#    return int(value.replace(',',''))\n#toint('500,000')\nprices_int = map(lambda value : int(value.replace(',','')),prices)\n\nfor price in prices_int:\n    print(price, end = ' ')",
  '\'\'\'\n예제 2\nmembers1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01’},\n{\'name\':\'신길동\', \'birth\':\'1995-12-18\'},]를\nmembers2 = [\n{\'name\':\'홍길동\', \'year\':2000, \'month\':1,\'day\':1},\n{\'name\':\'신길동\', \'year\':1995, \'month\':12, \'day\':18},] 변환\n\'\'\'\nmembers1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},{\'name\':\'신길동\', \'birth\':\'1995-12-18\'}]\n# \'2000-01-01\' => {\'year\' : 2000, \'month\' : 1, \'day\':1}\ndef func2 (**args) :\n    for key, value in args.items():\n        print("{}:{}".format(key,value))\nfun2()\n    ',
  '\'\'\'\n예제 2\nmembers1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01’},\n{\'name\':\'신길동\', \'birth\':\'1995-12-18\'},]를\nmembers2 = [\n{\'name\':\'홍길동\', \'year\':2000, \'month\':1,\'day\':1},\n{\'name\':\'신길동\', \'year\':1995, \'month\':12, \'day\':18},] 변환\n\'\'\'\nmembers1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},{\'name\':\'신길동\', \'birth\':\'1995-12-18\'}]\n# \'2000-01-01\' => {\'year\' : 2000, \'month\' : 1, \'day\':1}\ndef func2 (**args) :\n    for key, value in args.items():\n        print("{}:{}".format(key,value))\nfun2(name = \'홍길동\', age = 30, tel = \'010-0000-0000\', address = \'서울 관악구\', width=300, color=\'red\')\n    ',
  '\'\'\'\n예제 2\nmembers1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01’},\n{\'name\':\'신길동\', \'birth\':\'1995-12-18\'},]를\nmembers2 = [\n{\'name\':\'홍길동\', \'year\':2000, \'month\':1,\'day\':1},\n{\'name\':\'신길동\', \'year\':1995, \'month\':12, \'day\':18},] 변환\n\'\'\'\nmembers1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},{\'name\':\'신길동\', \'birth\':\'1995-12-18\'}]\n# \'2000-01-01\' => {\'year\' : 2000, \'month\' : 1, \'day\':1}\ndef func2 (**args) :\n    for key, value in args.items():\n        print("{}:{}".format(key,value))\nfunc2(name = \'홍길동\', age = 30, tel = \'010-0000-0000\', address = \'서울 관악구\', width=300, color=\'red\')\n    ',
  "'''\n예제 2\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01’},\n{'name':'신길동', 'birth':'1995-12-18'},]를\nmembers2 = [\n{'name':'홍길동', 'year':2000, 'month':1,'day':1},\n{'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환\n'''\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'}]\n# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day':1}\ndef split_date(date):\n    split_date = date.split('-')\n    return split_date\nsplit_dat('2025-01-01')\n    ",
  "'''\n예제 2\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01’},\n{'name':'신길동', 'birth':'1995-12-18'},]를\nmembers2 = [\n{'name':'홍길동', 'year':2000, 'month':1,'day':1},\n{'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환\n'''\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'}]\n# '2000-01-01' => {'year' : 2000, 'month' : 1, 'day':1}\ndef split_date(date):\n    split_date = date.split('-')\n    return split_date\nsplit_date('2025-01-01')\n    ",

In [263]:
all([True, True, True, False]) # 모든 요소가 다 True인지 여부

False

# 6절 연습문제

## 실습형

In [276]:
#1번. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
def get_max_min(data_list):
    Max_ = max(data_list)
    Min_ = min(data_list)
    return {'최댓값':Max_,'최소값': Min_}
get_max_min(Max_)

NameError: name 'Max_' is not defined

In [42]:
#2번. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다.
#     함수의 인자로 체중(kg)과 신장(m)를 입력받은 후 BMI값에 따라 '마른체형','표준','비만','고도비만' 중 하나의 상테를
#     출력하는 함수를 구현해 보세요

In [264]:
#3번. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요.
import math
def get_triangle(w, h):
    area = w*h*0.5
    # math.sqrt() : 제곱근
    perimeter = w+h+math.sqrt(w*w + h*h)
    # return area, perimeter
    return {'넓이':area, '둘레':perimeter}
get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [44]:
#4번. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요.

In [45]:
#5번. 함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람닥실을
#    작성하세요.

In [46]:
#6번. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오.

In [47]:
#7번. ex =[1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로
#    구하시오.

In [ ]:
#8번. 다음 코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오.

In [48]:
#9번. 다음 코드의 실행 결과는?

In [49]:
#10번. n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 return하는
#     vector_size_check(*vector_var)를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

In [53]:
#11번. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.

In [54]:
#1번. 다음 코드의 실행 결과는?

In [55]:
#2번. 함수 영역과 변수들의 참조 영역에 따른 동작을 보여주기 위한 문제입니다. 오류가 발생하는 라인을 찾고
#    문제를 해결하기 위한 코드를 작성하며, 실행 결과를 쓰세요.

In [56]:
#3번. 다음 구문을 실행한 결과는?

In [57]:
#4번. 다음 구문의 실행 결과는?

In [58]:
#5번. 다음 구문의 실행 결과는?

In [59]:
#6번. 파이썬 함수에 대한 설명 중 잘못된 것은?

In [60]:
#7번. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?

In [61]:
#8번. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요.(영문 소문자로 쓰세요)